@import "__header/place__header.css";
@import "__image/place__image.css";
@import "__main/place__main.css";
@import "__paragraph/place__paragraph.css";
@import "__text/place__text.css";
@import "__title/place__title.css";
@import "__website/place__website.css";
.places {
   display: flex;
   flex-direction: column;
   align-self: center;
   max-width: 984px;
}

.place {
   display: flex;
   flex-direction: column;
   align-self: center;
   max-width: 984px;
   padding: 100px 0px 0px 0px;
}