@import "../lead/__title/lead__title.css";
@import "../lead/__subtitle/lead__subtitle.css";
@import "../lead/__image/lead__image.css";
@import "../lead/__caption/lead__caption.css";
.lead {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #FFFFFF;
   max-width: 1184px;
}