@import "../fonds/Inter/inter.css";
@import "header/header.css";
@import "lead/lead.css";
@import "intro/intro.css";
@import "photo-grid/photo-grid.css";
@import "places/places.css";
@import "comments/comments.css";
@import "cover/cover.css";
.body {
   background: #2A2C2F;
}

.page {
   max-width: 1280px;
   min-height: 100vh;
   margin: 0 auto;
   font-family: 'Inter';
   color: #fff;
}