@import "__container/video__container.css";
@import "__duration/video__duration.css";
@import "__icon_play/video__icon_play.css";
@import "__item-bg/video__item-bg.css";
@import "__item/video__item.css";
@import "__subtitle/video__subtitle.css";
@import "__title/video__title.css";
.video {
   max-width: 1184px;
   display: flex;
   flex-direction: column;
   align-self: center;
   align-items: center;
   padding: 100px 0 0 0;
}