.video__title {
   max-width: 360px;
   font-weight: 900;
   font-size: 36px;
   line-height: 39px;
   z-index: 10;
   margin: 0px 0px 18px 0px;
}

@media (max-width: 1023px) {
   .video__title {
      max-width: 100%;
      font-size: 24px;
      line-height: 26px;
      margin: 0px 0px 12px 0px;
   }
}