@import "../intro/__title/intro__title.css";
@import "../intro/__paragraph/intro__paragraph.css";
@import "../intro/__statistic/intro__statistic.css";
@import "../intro/__statistic-paragraph/intro__statistic-paragraph.css";
@import "../intro/__statistic-amount/intro__statistic-amount.css";
.intro {
   padding: 80px 0px 0px 0px;
   display: flex;
   flex-direction: column;
   align-self: center;
   max-width: 984px;
   width: 100%;
}

@media (max-width: 767px) {
   .intro {
      /* padding: 80px 24px 0px 24px; */
   }
}