.cover {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* max-width: 1184px; */
   margin: 100px 0px 160px 0px;
   position: relative;
   z-index: 10;
}

.cover__title {
   font-weight: 900;
   font-size: 72px;
   line-height: 78px;
   text-align: center;
   z-index: 10;
}

@media (max-width: 1023px) {
   .cover__title {
      max-width: 574px;
   }
}

.cover__subtitle {
   font-size: 18px;
   line-height: 26px;
   text-align: center;
   z-index: 10;
}

.cover__cover-bg {
   position: absolute;
   top: 0;
   max-width: 1184px;
   width: 100vw;
   height: auto;
   z-index: 1;
}