@import"/blocks/cover/__title/cover__title.css";
@import"/blocks/cover/__subtitle/cover__subtitle.css";
@import"/blocks/cover/__cover-bg/cover__cover-bg.css";
.cover {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   max-width: 1184px;
   height: 594px;
   margin: 100px 0px 0px 0px;
   position: relative;
   z-index: 10;
   box-sizing: content-box;
}

@media (max-width: 1023px) {
   .cover {
      height: 562px;
   }
}

@media (max-width: 767px) {
   .cover {
      margin: 70px 0px 0px 0px;
      height: 350px;
   }
}

@media (max-width: 425px) {
   .cover {
      height: 272px;
      margin: 48px 0px 0px 0px;
   }
}