@import "../fonds/Inter/inter.css";
@import "../blocks/header/header.css";
@import "../blocks/lead/lead.css";
@import "../blocks/intro/intro.css";
@import "../blocks/photo-grid/photo-grid.css";

/* @import "../blocks/places/places.css"; */

@import "../blocks/places/place.css";
@import "../blocks/video/video.css";

/* @import "../blocks/comments/comments.css"; */


/* @import "../blocks/cover/cover.css"; */

* {
   transition: all 0.3s ease;
}

.body {
   background: #2A2C2F;
}

.page {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   max-width: 1280px;
   min-height: 100vh;
   margin: 0 auto;
   font-family: 'Inter';
   color: #fff;
}

.main {
   display: flex;
   flex-direction: column;
   align-self: center;
   padding: 0 48px;
}

.link {
   /* text-decoration: none; */
   color: inherit;
}

@media (max-width: 1023px) {
   .main {
      /* padding: 0 48px; */
   }
}

@media (max-width: 1023px) {
   .main {
      padding: 0 24px;
   }
}

@media (max-width: 767px) {
   .main {
      padding: 0 16px;
   }
}