.intro__statistic-paragraph {
   font-weight: bold;
   font-size: 13px;
   line-height: 20px;
}

@media (max-width: 767px) {
   .intro__statistic-paragraph {
      font-size: 12px;
      line-height: 19px;
   }
}